### C++.gitignore
# Target build by Makefile
build/
!Makefile
codec_4061
output/
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdf
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



